
@{
    ViewBag.Title = "My Hours - TimeTracker";
    Layout = "_Layout";
}

<h2>Integral Time Tracker</h2>

<h3>My Hours:</h3>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Billable</th>
        <th>Non billable</th>
        <th>Vacation</th>
        <th>Sick</th>
    </tr>
    
    </thead>
    <tbody>
    <tr>
        <td></td>
    </tr>
    </tbody>
</table>
