@{
    ViewBag.Title = "Integral Time Tracker";
    Layout = "_Layout";
}

<h2>Welcome to TimeTracker</h2>

<p>
    <a href="@Url.Action(action: "UserEntryReport", controller: "WebReport")">Go to My Hours List Report</a>
</p>

<p>
    <a href="@Url.Action(action: "Claims", controller: "Home")">View My Identity Claims</a>
</p>

